* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 200;
}
.header .page-title {
  padding: 0px;
  color: #fff;
}
.nav {
  background: #000;
  text-align: center;
  hight: 122px;
}
.nav li {
  display: inline-block;
}
.nav a {
  display: inline-block;
  padding: 50px;
  color: #fff;
  text-decoration: none;
}
.nav a:hover {
  background-color: #3ab795;
}
.main-content {
  margin: 50px auto;
  max-width: 600px;
}
.main-content p {
  line-height: 1.6;
  margin-bottom: 1.7em;
}
.footer {
  margin: 50px auto;
  max-width: 600px;
  border-top: 1px solid #444;
  padding: 20px 0;
}
.footer p {
  color: #444;
  font-size: 12px;
}
