extend default

block content
  p.
    Is your delivery pipeline helps your company meet its busines goals?
    <br>
    Is your company delivery pipeline handled in that mindset?
    <br>
    depi is an auotmation framework which creates a reproduceable delivery pipeline environment. 
    <br>
  p.