doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title depy - DevOps as a Service automation framework
  body
    ul.nav
      li: a(href='/') Home
      li: a(href='/about') About

    .main-content

      block content

    .footer
      p Copyright © 2017 L.M.B.-Consulting Ltd.
