extend default

block content
  p.
    Are you considering upgrading your CLM but troubled from the risks/costs/time?
    <br>
    Did you ever broke your CLM production server due to configuration changes?
    <br>
    Do you have long maintenance windows which prevents your users from working with CLM?
    <br>
  p.