extend default

block content
  p.
    Do you have on-prem software, like: jenkins, Jira, Artifactory, IBM Collaborative Lifecycle Management?
    <br>
    Are you planning to upgrade an on-prem software in the near future?
    <br>
    Are you developing/testing plugins/configurations for your on-prem software?
    <br>
    Did your on-prem production system ever decided to fall over?
    <br><br>
    What if your on-prem software installation and configuration was in version control?
    <br>
    What if you could deploy it pre-configured repeatedly and reliably and treat it as "disposable"?
    <br><br>
        
    depy is a fullstack framework which can help you answer those questions - yes!!!
  p.